{% set image = 
	card.card_image 
		? card.card_image 
		: (card.hero.pdp_hero_background_image is defined and card.hero.pdp_hero_background_image 
			? card.hero.pdp_hero_background_image 
			: (s_default.fallback_image is defined 
				? s_default.fallback_image 
				: null
			)
		)
%}
{% set s_default_snippet = sulu_snippet_load_by_area('site_settings') %}
{% set s_default = s_default_snippet ? s_default_snippet.content : {} %}
{% set colClass = colClass|default("col-12 col-lg-6 mb-5") %}
{% set locale = app.locale %}

{% if image and card.text_content and card.header %}
	<div class="{{ colClass }}">
		<div class="card--project position-relative d-flex flex-column align-items-center">
			<div class="card w-100 h-100 overflow-hidden">
				{% include 'components/image.html.twig' with {
						image: image,
						imageCssClasses: 'card--project-image object-position-' ~ (card.image_alignment|default('center')),
					} %}
			</div>
			{% if card.text_content and card.header %}
				<div class="card card-body card--project-text col-11 {{ 'process-card' in colClass ? '' : 'col-lg-10' }} justify-content-between">
					{% include 'content-blocks/text-button.html.twig'  
								with {
								'content': card,
								'headerCssClasses': 'mb-3',
								'header_size': 'h6',
							}  %}
					{% if card.routePath is defined and card.routePath is not empty %}
						{% set cardFullPath = app.request.baseUrl ~ '/' ~ app.locale ~ card.routePath %}
						<a href="{{cardFullPath}}" class="btn btn-link text-start text-senary m-0">{{s_default.learn_more}}
							{% include 'utilities/icon.html.twig' with {
								icon: 'arrow'
							} %}
						</a>
					{% endif %}
				</div>
			{% endif %}
		</div>
	</div>
{% endif %}
