{% set image = card.image ? card.image : card.card_image ? card.card_image : null %}

{% if card.text_content and image %}
	<div class="row">
		<div class="col-12 col-lg-6 mb-5">
			<div class="position-relative d-flex flex-column align-items-center">
				<div class="card card--project w-100 overflow-hidden">
					{% if image %}
						{% include 'components/image.html.twig' with {
								image: image,
								classes: 'card--project-image',
							} %}
					{% endif %}
				</div>
				{% if card.text_content and card.header %}
					<div class="card card-body card--project-text col-10 position-relative">
						{% include 'content-blocks/text-button.html.twig'  
								with {
								'content': card,
								'headerCssClasses': 'mb-3',
								'header_size': 'h6',
								'textCssClasses': 'mb-3',
							}  %}
						<a href="{{card.routePath}}" class="btn btn-link text-start text-senary m-0">{{s_default.learn_more}}
							{% include 'utilities/icon.html.twig' with {
								icon: 'arrow'
							} %}
						</a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endif %}
