{% extends 'base.html.twig' %}

{% block content %}
	<div class="container container-default pb-5">
		{% include 'components/header.html.twig' with { 
            content: content,
            headerCssClasses: headerCssClasses|default(''),
        } %}
		{% if content.articles|default(null) %}
			<div class="row cards-grid">
				{% for article in content.articles %}
					<div class="col-md-4 cards-grid-column">
						{% include 'components/cards/project-cards.html.twig' %}
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
	{% include 'components/pagination.html.twig' with {
        params: view.articles
    } %}
{% endblock %}
