{% extends 'base.html.twig' %}

{% block content %}

	<div class="container container-small">
		{% include 'components/header.html.twig' with { 
            content: content,
            headerCssClasses: headerCssClasses|default(''),
        } %}
		{% if content.articles|default(null) %}
			<div class="row cards-grid container-small">
				{% for article in content.articles %}
					{% include 'components/cards/project-cards.html.twig' with { card: article.content.content } %}
				{% endfor %}
			</div>
		{% endif %}
	</div>
	{% include 'components/pagination.html.twig' with {
        params: view.articles
    } %}
{% endblock %}
