/*

homepage
================================================== 
Contains the styles for all the sections in the home page.
*/

// Hero section
.hero-section {
    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include media-breakpoint-down(lg) {
            padding-top: 1.5rem;
        }
    }

    @include media-breakpoint-up(md) {
        min-height: 100vh;
    }
}
