.body--project-overview {
    background-color: $septenary;
}

// Hero section
.hero-background-image {
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-services {
    border-left: 1px solid $white;
    max-height: min-content;
    p {
        font-size: px-to-rem(18);
    }
}
