// Hero section
.hero-background-image {
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-services {
    border-left: 1px solid $white;
    max-height: min-content;
    p {
        font-size: px-to-rem(18);
    }
}

// Middle sections (overview, process, lessons- all with .pdp-section as well )
.overview-section,
.process-section,
.lessons-section {
    .container {
        margin: 0;
    }
}

.pdp-section {
    border: 1px solid $primary;
    padding: px-to-rem(50);

    &--left {
        border-left: 0;
        border-bottom-right-radius: $border-radius;
        border-top-right-radius: $border-radius;
    }
    &--right {
        border-right: 0;
        border-bottom-left-radius: $border-radius;
        border-top-left-radius: $border-radius;
    }

    @include media-breakpoint-up(lg) {
        padding: px-to-rem(72);
    }
}

// Overview Section
.overview-section {
    .pdp-section {
        border: 1px solid $white;
        border-left: inherit;
    }
}

// Process section
.process-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .container {
        padding-bottom: 0;
        padding-top: px-to-rem(80);
    }
}
.lessons-section {
    .container {
        padding: px-to-rem(80) 0;
    }
}
