/*

 Utilities
 ================================================== 
 Custom Utility classes 

 */

// General
@each $color-name, $color-value in $theme-colors {
    .border-right-#{$color-name} {
        border-right: 1px solid #{$color-value};
    }
}
.border-right-white {
    border-right: 1px solid white;
}

.bordered {
    border: 2px solid $primary;
}

.bg-lighter {
    background-color: rgba(255, 255, 255, 0.07);
}

// Typography
.manrope {
    font-family: "Manrope", sans-serif !important;
}
.fira-code {
    font-family: "Fira Code", monospace !important;
}
.text-gray-200 {
    color: $gray-200;
}

h5,
.h5 {
    font-size: clamp(px-to-rem(14), 2.5vw + 0.5rem, px-to-rem(28)) !important;
}

.text-senary {
    color: $senary;
}

// Images & icons
.white-icon {
    filter: brightness(0) saturate(100%) invert(100%);
}
.object-fit-cover {
    object-fit: cover;
}
.object-position-left {
    object-position: left;
}
.object-position-right {
    object-position: right;
}

// Responsive utilities
.h-lg-100 {
    @include media-breakpoint-up(lg) {
        height: 100%;
    }
}
