<div class="row">
	<div class="row p-0">
		<div class="col mb-3">
		{% include 'components/header.html.twig' with { 
			content: content,
			headerCssClasses: "text-end",
		} %}
	</div>
	</div>
	{% if content.image_text_card %}
		<div class="row p-0">
			{% if content.image_text_card %}
				{% include 'components/cards/image-text-cards.html.twig' with {'cards': content.image_text_card} %}
			{% endif %}
			</div>
		</div>
	{% endif %}
</div>
