<div class="row">
	<div class="">
		{% include 'components/header.html.twig' with { 
			content: content,
			headerCssClasses: "text-end",
		} %}
	</div>
	{% if content.image_text_card %}
	{% set flippable = false %}
		<div class="row">
			{% if content.image_text_card %}
				{% include 'components/cards/image-text-cards.html.twig' with {'cards': content.image_text_card, flippable: flippable} %}
			{% endif %}
			</div>
		</div>
	{% endif %}
</div>
