<div class="col-12 mb-4">
	{% include 'components/header.html.twig' with { 
		content: content,
		headerCssClasses: "text-end",
	} %}
	{% include 'components/text.html.twig' with { 
		content: content,
		textCssClasses: "text-end"
	} %}
</div>
{% if content.image_text_card %}
	<div class="row">
		{% if content.image_text_card %}
			{% include 'components/cards/image-text-cards.html.twig' with {'cards': content.image_text_card} %}
		{% endif %}
	</div>
{% endif %}
