<div class="row">
	{% if content.image.url is defined and content.image.url is not empty %}
		<div class="mb-4 mb-xl-0 col-12 col-lg-4 col-xl col-xl-4 me-lg-3 me-xl-5">
			{% include 'components/image.html.twig' with {
        	image: content.image,
			imageCssClasses: 'bordered rounded h-lg-100 object-fit-cover object-position-' ~ (content.image_alignment|default('center')),
   		 } %}
		</div>
	{% endif %}
	<div class="col d-flex flex-column justify-content-center">
		{% include 'components/header.html.twig' with { 
				content: content,
				headerCssClasses:'mb-3',
        	} %}
		{% include 'components/text.html.twig' with { 
				content: content,
				textCssClasses: 'mb-5'
			} %}
		{% if content.tech_stack is not empty %}

			<div class="row">
				{% set color = content.text_color %}
				{% for item in content.tech_stack %}
					{% if item.icon is not empty %}
						<div class="col-auto text-center {{loop.length < 2 or loop.last ? '' : " border-right-" ~ color }} {{ loop.first ? 'pe-4' : 'px-4' }}">
							{% include 'components/image.html.twig' with { 
								image: item.icon,
								imageCssClasses: color ~ '-icon mb-2',
								format: '32x32'
							} %}
							<p class="mb-0 text-{{color}}">{{item.text}}</p>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		{% endif %}
	</div>
</div>
