<div class="row pdp-section pdp-section--right overflow-hidden {{ content.row_color ? 'bg-' ~ content.row_color : '' }}">
	<div class="row">
		{% include 'components/header.html.twig' with { 
			content: content,
			headerCssClasses: "mb-5",
		} %}
	</div>
	{% if content.process_cards %}
		<div class="row">
			<div class="swiper process-swiper overflow-visible">
				<div class="swiper-wrapper">
					{% for card in content.process_cards %}
						{% include 'components/cards/project-cards.html.twig' with { card: card, colClass: "process-card swiper-slide" } %}
					{% endfor %}
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</div>
	{% endif %}
</div>
