<div class="dropdown">
	{% set currentURL = app.request.uri %}
	<a class="dropdown-toggle d-flex align-items-center" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
		{% if app.locale == 'en' %}
			{% include 'utilities/icon.html.twig' with {
				icon: 'USA'
			} %}
			<p class="ms-2 mb-0">EN</p>
		{% else %}
			{% include 'utilities/icon.html.twig' with {
				icon: 'NL'
			} %}
			<p class="ms-2 mb-0">NL</p>
		{% endif %}
	</a>
	<ul class="dropdown-menu">
		<li>
			{% if app.locale == 'en' %}
				{% set switchURL = currentURL|replace({'/en': '/nl'}) %}
				<a class="dropdown-item d-flex align-items-center" href="{{ switchURL }}">
					{% include 'utilities/icon.html.twig' with {
						icon: 'NL'
					} %}
					<p class="ms-2 mb-0">NL</p>
				</a>
			{% else %}
				{% set switchURL = currentURL|replace({'/nl': '/en'}) %}
				<a class="dropdown-item d-flex align-items-center" href="{{ switchURL }}">
					{% include 'utilities/icon.html.twig' with {
						icon: 'USA'
					} %}
					<p class="ms-2 mb-0">EN</p>
				</a>
			{% endif %}
		</li>
	</ul>
</div>
