{% set englishFlag = s_default.English|default(null) %}
{% set dutchFlag = s_default.Dutch|default(null) %}

<div class="dropdown">
	<a class="dropdown-toggle d-flex align-items-center" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
		{% if app.locale == 'en' %}
			{% include 'utilities/icon.html.twig' with {
				icon: 'USA'
			} %}
			<p class="ms-2 mb-0">EN</p>
		{% else %}
			{% include 'utilities/icon.html.twig' with {
				icon: 'NL'
			} %}
			<p class="ms-2 mb-0">NL</p>
		{% endif %}
	</a>
	<ul class="dropdown-menu">
		<li>
			{% if app.locale == 'en' %}
				<a class="dropdown-item d-flex align-items-center" href="/nl">
					{% include 'utilities/icon.html.twig' with {
						icon: 'NL'
					} %}
					<p class="ms-2 mb-0">NL</p>
				</a>
			{% else %}
				<a class="dropdown-item d-flex align-items-center" href="/">
					{% include 'utilities/icon.html.twig' with {
						icon: 'USA'
					} %}
					<p class="ms-2 mb-0">EN</p>
				</a>
			{% endif %}
		</li>
	</ul>
</div>
