<div class="col-auto">
	<div class="dropdown">
		<button class="btn  btn-text text-white dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
			language
		</button>
		<div class="dropdown-menu">
			<a class="dropdown-item" href="/">English</a>
			<a class="dropdown-item" href="/nl">Nederlands</a>
		</div>
	</div>
</div>
