<div class="col-auto">
	<div class="dropdown">
		<button class="btn btn-text text-white dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
			language
		</button>
		<ul class="dropdown-menu">
			<li>
				<a class="dropdown-item" href="/">English</a>
			</li>
			<li>
				<a class="dropdown-item" href="/nl">Nederlands</a>
			</li>
		</ul>
	</div>
</div>
