$header-height: px-to-rem(60);

.header-main {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: transparent;
    height: $header-height;
    transition: background-color 0.3s ease;
}

// Make text white on everything besides project overview page
body:not(.body--project-overview) {
    @include media-breakpoint-up(lg) {
        .dropdown-toggle,
        .nav-item {
            color: $white;
        }
    }
    .icon-hamburger-icon {
        color: $white;
    }
    .logos-regular > img {
        filter: brightness(0) saturate(100%) invert(100%); // Make white svg
    }
    .header-main {
        position: absolute;
    }
}

// Logos
.logos-regular > img {
    display: block;
    width: 100%;
    max-height: px-to-rem(60);
}

.main-content > section:first-of-type {
    padding-top: $header-height + px-to-rem(20);
    @include media-breakpoint-up(lg) {
        padding-top: $header-height;
    }
}

.main-nav {
    gap: px-to-rem(25);
}
