$header-height: px-to-rem(60);

.header-main {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: transparent;
    height: $header-height;
    transition: background-color 0.3s ease;
}

// Make text white on everything besides project overview page
body:not(#projectoverview) {
    @include media-breakpoint-up(lg) {
        .dropdown-toggle,
        .nav-item {
            color: $white;
        }
    }
    .icon-hamburger-icon {
        color: $white;
    }
    .logos-regular > img {
        filter: brightness(0) saturate(100%) invert(100%); // Make white svg
    }
    .header-main {
        position: absolute;
    }
}

// Logos
.logos-regular > img {
    display: block;
    width: 100%;
    max-height: px-to-rem(60);
}

.main-content > section:first-of-type {
    padding-top: $header-height + px-to-rem(20);
    @include media-breakpoint-up(lg) {
        padding-top: $header-height;
    }
}

// Main nav
.main-nav {
    gap: px-to-rem(25);
    &--inner {
        gap: 4rem;
        margin-right: 2rem;
    }
    .nav-item.btn {
        @include media-breakpoint-down(lg) {
            padding: 0;
            background: transparent;
            color: $primary;
            border: 0;
            margin: 0;
            display: list-item;
        }
        padding: 10px 20px;
    }
}
.icon-USA,
.icon-NL {
    width: px-to-rem(32);
}
