{# This file defines a standardized section and container for each content block, based on its type. #}
{% if content and block_order %}
	{% for block_name in block_order %}

		{% set block_name = block_name|replace({'-': '_'}) %}
		{% set block_content = content[block_name]|default(null) %}
		{# Only loads a section if there is a header, text content, or background color #}
		{% if
			(block_content.text_content is defined and block_content.text_content is not empty)
			or (block_content.header is defined and block_content.header is not empty)
			or (block_content.background_color is defined and block_content.background_color is not empty)
		%}
			{# Set variables used in rendering #}
			{% set spacing = block_content.settings.spacing_options|default(null) %}
			{% set container_small = block_content.settings.container_small|default(false) %}
			{% set section_classes = block_name ~ '-section bg-' ~ (block_content.background_color|default('white')) ~ (block_content.pdp_hero_background_image is defined ? ' hero-background-image' : '') %}
			{% set section_img_gradient = (block_content.gradient is defined and block_content.gradient is not empty ? block_content.gradient|trim('background:.;') ~ ',' : 'linear-gradient(292deg,rgba(29, 25, 35, 0.87) 0%, rgba(29, 25, 35, 0.87) 100%),') %}
			{% set section_bg_img = block_content.pdp_hero_background_image is defined and block_content.pdp_hero_background_image is not empty ? 'background-image:' ~ section_img_gradient ~ ' url(' ~ block_content.pdp_hero_background_image.url ~ ');' : null %}
			{% set section_custom_bg = block_content.custom_background_color is defined and block_content.custom_background_color is not empty ? 'background-color:' ~ block_content.custom_background_color ~ ';' : null %}
			{# Render #}
			<section class="{{ section_classes }}" {% if section_bg_img is not null or section_custom_bg is not null %} style="{{ section_bg_img ~ section_custom_bg }}" {% endif %}>
				<div class="container container-{{ spacing|default('default') }}{% if container_small %} container-small{% endif %}">
					{% include 'content-blocks/' ~ page ~ '/' ~ block_name ~ '.html.twig' with { content: content[block_name] } %}
				</div>
			</section>
		{% endif %}
	{% endfor %}
{% endif %}
